* {
    box-sizing: border-box;
}

#contact {
    width: 100%;
    padding: 1rem;
    background-color: darkgray;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    margin-top: 5.25rem;
}

#contact li {
    display: inline-block;
    padding: 0 0.83rem;
    color: white;
}

#your-place {
    background-color: darkgrey;
    color: white;
}

#recommendations {
    background-color: darkgrey;
    color: white;
}

.form {
    margin-left: 2.08rem;
    text-align: center;
}

.mdc-top-app-bar {
    background-color:darkgrey;
}

#banner {
    text-align: center;
    overflow: hidden;
    display: inline-flexbox;
    flex-wrap: wrap;
}

#banner img {
    margin-top: 3%;
    max-width: 100%;
    max-height: auto;
}

.intro-text {
    margin: 0 auto;
    padding: 1%;
    width: 66.67rem;
    height: 23rem;
    border: 0.25rem solid white;
    color: white;
    background-color: darkgray;
    font-weight: bold;
    max-width: 100%;
    max-height: auto; 
}


.mdc-top-app-bar {
    position: fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: darkgray;
    min-width: 13.3rem;
    box-shadow: 0rem 0.6rem 1.3rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown_content a {
    color: white;
    padding: 1rem 1.3rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown_content a:hover {
    background-color: rgb(117, 99, 99);
}


body {
    background-image: url("../images/city_outline.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.button-label {
    color: white;
    text-decoration: none;
    font-weight: bold; 
}

.submit-button {
    display: block;
    text-align: center;
    width: 100%;
    padding: 2.92rem;
    margin-bottom: 10%;
 
}

.mdc-button.mdc-button--raised {
    background-color: darkgray;
}

.instructions {
    width: 66.67rem;
    height: 33.33rem;
    color: white;
    font-size: large;
    margin: 0 auto;
    max-width: 100%;
    max-height: auto;

}
.instructions ol {
    color: white;
    font-weight: bold;
    background-color: darkgray;
    border: 1rem solid white;
    text-align: left;
}

.instructions ol li {
    padding: 1.25rem;
    margin-left: 5%;
}

#audio-div p {
    font-weight: bold;
}

#video-div {
    max-width: 100%;
    max-height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1%;
}

.table {
    width: 100%;
    max-width: 100%;
    max-height: auto;
}

.table tr {
    font-weight: bold;
}

/* PopUp design example from W3schools */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
  }

  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 13.33rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.6rem 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -6.67rem;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.42rem;
    border-width: 0.42rem;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }


  .result {
      box-sizing: border-box;
      border: 0.25rem solid black;
      width: 50%;
  }

  .map {
      width: 50%;
      height: 100%;
      float: right;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

  #results {
    display: flex;
    flex-direction: row; 
    max-width: 100%;
    flex-wrap: wrap;
    height: auto;
  }

  .result {
      flex: 1 1 45rem;
      margin: 3rem auto;
      max-width: 45rem;
  }

  .maps {
      flex: 1 1 45rem;
      bottom: 0; 
  }

  .leftCell {
      min-width: 20%;
  }

  #delete{
      float: right;
  }

  .rightCell {
    min-width: 60%;
}

#edit_delete {
    min-width: 20%;
}


  /* medium.com/@nerdplusdog... */

  .modal {
    display: none;
    position: fixed; 
    padding-top: 4.17rem;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modalContent {
    position: relative; 
    background-color: white;
    padding: 1.67rem; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  #closeBtn {
    float: right; 
    color: lightgray; 
    font-size: 2rem;  
    font-weight: bold;
  }
  #closeBtn:hover {
    color: darkgray;
  }

  @-webkit-keyframes animatetop {
    from {top:-25rem; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-25rem; opacity:0}
    to {top:0; opacity:1}
  }

  [id^=closeBtn] {
      float: right;
  }

  #delete:hover {
      cursor: pointer;
  }

  #edit:hover {
      cursor: pointer;
  }

  #formModal {
    display: none;
    position: fixed; 
    padding-top: 4.17em;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  #your-placeModal {
      color: ivory;
  }

  #recommendationsModal {
      color: ivory;
  }




