* {
    box-sizing: border-box;
}

#contact {
    width: 100%;
    padding: 13px;
    background-color: darkgray;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    margin-top: 63px;
}

#contact li {
    display: inline-block;
    padding: 0 10px;
    color: white;
}

#your-place {
    background-color: darkgrey;
    color: white;
}

#recommendations {
    background-color: darkgrey;
    color: white;
}

.form {
    margin-left: 25px;
    text-align: center;
}

.mdc-top-app-bar {
    background-color:darkgrey;
}

#banner {
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#banner img {
    width: 800px;
    padding-top: 2%;
    height: auto;
    margin: 25px auto;
    max-width: 100%;
    max-height: auto;
}

.intro-text {
    padding: 1%;
    top: 700px;
    width: 700px;
    margin: 0 auto;
    border: 3px solid white;
    color: white;
    background-color: darkgray;
    font-weight: bold;
    max-width: 100%;
    max-height: auto; 
}


.mdc-top-app-bar {
    position: fixed;
}

body {
    background-image: url("../images/city_outline.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.button-label {
    color: white;
    text-decoration: none;
    font-weight: bold; 
}

.submit-button {
    display: block;
    text-align: center;
    width: 100%;
    padding: 35px;
    margin-bottom: 10%;
 
}

.mdc-button.mdc-button--raised {
    background-color: darkgray;
}

.instructions {
    margin: 0 auto;
}
.instructions ol {
    color: white;
    font-weight: bold;
    background-color: darkgray;
    padding: 20px;
    border: 3px solid white;
}

.instructions ol li {
    padding: 15px;
}

#audio-div p {
    font-weight: bold;
}

#video-div {
    max-width: 100%;
    padding-top: 3%;
    max-height: auto;
    flex-wrap: wrap;
    margin: 25px auto;

}

.table {
    width: 100%;
}

