* {
    box-sizing: border-box;
}

#contact {
    width: 100%;
    padding: 13px;
    background-color: darkgray;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    margin-top: 63px;
}

#contact li {
    display: inline-block;
    padding: 0 10px;
    color: white;
}

#your-place {
    background-color: darkgrey;
    color: white;
}

#recommendations {
    background-color: darkgrey;
    color: white;
}

.form {
    margin-left: 25px;
    text-align: center;
}

.mdc-top-app-bar {
    background-color:darkgrey;
}

#banner {
    text-align: center;
    overflow: hidden;
    display: inline-flexbox;
    flex-wrap: wrap;
}

#banner img {
    width: 800px;
    height: auto;
    margin-top: 3%;
    max-width: 100%;
    max-height: auto;
}

.intro-text {
    margin: 0 auto;
    padding: 1%;
    width: 800px;
    height: 350px;
    border: 3px solid white;
    color: white;
    background-color: darkgray;
    font-weight: bold;
    max-width: 100%;
    max-height: auto; 
}


.mdc-top-app-bar {
    position: fixed;
}

body {
    background-image: url("../images/city_outline.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.button-label {
    color: white;
    text-decoration: none;
    font-weight: bold; 
}

.submit-button {
    display: block;
    text-align: center;
    width: 100%;
    padding: 35px;
    margin-bottom: 10%;
 
}

.mdc-button.mdc-button--raised {
    background-color: darkgray;
}

.instructions {
    width: 800px;
    height: 400px;
    color: white;
    font-size: large;
    margin: 0 auto;
    max-width: 100%;
    max-height: auto;

}
.instructions ol {
    color: white;
    font-weight: bold;
    background-color: darkgray;
    border: 3px solid white;
    text-align: left;
}

.instructions ol li {
    padding: 15px;
    margin-left: 5%;
}

#audio-div p {
    font-weight: bold;
}

#video-div {
    max-width: 100%;
    max-height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1%;
}

.table {
    width: 100%;
    max-width: 100%;
    max-height: auto;
}

.table tr {
    font-weight: bold;
}

/* PopUp design example from W3schools */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

